<ifModule mod_rewrite.c>
	RewriteEngine On
	RewriteBase /mmoma/api/
	
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_URI} !/$
	RewriteRule ^(.*)$ $1/ [R=301,L]
	
	RewriteCond %{THE_REQUEST} //+
	RewriteRule ^(.*)$ $1 [R=301,L]
	
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*)$ index.php?request=$1 [QSA,L]

	RedirectMatch 301 /home(.*) //$1
	RedirectMatch 301 /surface(.*) //$1
	RedirectMatch 301 /tools(.*) //$1
	RedirectMatch 301 /filters(.*) //$1
	RedirectMatch 301 /sending(.*) //$1
	RedirectMatch 301 /museum(.*) //$1
</ifModule>